<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <a [routerLink]="['/sitemap']">
              {{ "footer.sitemap" | translate }}
            </a>
            |
            <a [routerLink]="['/disclaimers']"
              >{{ "footer.disclaimers" | translate }}
            </a>
            |
            <a [routerLink]="['/about/aboutus']">{{
              "footer.contacta" | translate
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
