<div class="modal-dialog-centered" role="document">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 id="modalTitle" class="modal-title">Forgot Password</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Modal closed by clicking cross icon')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
        <!-- Email Input Field -->
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input
            type="email"
            class="form-control"
            id="emailInput"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!forgotPasswordForm.form.valid"
        >
          Submit
        </button>
      </form>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Modal closed by clicking close button')"
      >
        Close
      </button>
    </div>
  </div>
</div>
