<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img
                    class="logo-svg"
                    src="assets/svg/material-svgrepo-com.svg"
                    alt="Logo"
                /></a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="gestiones">Gestiones</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about">About us</a>
                    </li>
                  </ul>
                  <form class="d-flex ms-auto">
                    <input
                      class="form-control me-2"
                      type="search"
                      placeholder="Buscar"
                      aria-label="Search"
                    />
                    <button
                      class="btn btn-outline-light rounded-circle"
                      type="submit"
                    >
                      <i class="bi bi-search"></i>
                    </button>
                  </form>
                  <div class="language-links ms-3">
                    <select
                      class="custom-select-with-caret"
                      [value]="currentLanguage"
                      (change)="switchLanguage($event.target)"
                    >
                      <option value="en">English</option>
                      <option value="es">Español</option>
                      <option value="ca">Català</option>
                    </select>
                  </div>

                  <button
                    class="btn btn-outline-light rounded-circle ms-3"
                    (click)="logout()"
                  >
                    <i class="bi bi-box-arrow-right"></i>
                  </button>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
