<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img
                    class="logo-svg"
                    src="assets/svg/material-svgrepo-com.svg"
                    alt="Logo"
                /></a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>

                    <!-- Servicios -->
                    <li class="nav-item" #serviciosMenuItem>
                      <a
                        class="nav-link"
                        [ngClass]="{ active: isServiciosMenuVisible }"
                        (mouseenter)="showMenu('servicios')"
                      >
                        {{ "menu.servicios.title" | translate }}
                        <span
                          class="caret"
                          [ngClass]="{
                            'caret-right': isServiciosMenuVisible,
                            'caret-down': !isServiciosMenuVisible
                          }"
                        ></span>
                      </a>
                      <ul
                        class="dropdown-menu"
                        [ngStyle]="{
                          display: isServiciosMenuVisible ? 'flex' : 'none'
                        }"
                        (mouseleave)="hideAllMenus()"
                      >
                        <li *ngFor="let service of services">
                          <a href="#">{{ service.name | translate }}</a>
                          <ul *ngIf="service.subservices.length > 0">
                            <li *ngFor="let subservice of service.subservices">
                              <a [routerLink]="subservice.path">{{
                                subservice.name | translate
                              }}</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>

                    <!-- Gestiones -->
                    <li class="nav-item" #gestionesMenuItem>
                      <a
                        class="nav-link"
                        [ngClass]="{ active: isGestionesMenuVisible }"
                        (mouseenter)="showMenu('gestiones')"
                      >
                        {{ "menu.gestiones.title" | translate }}
                        <span
                          class="caret"
                          [ngClass]="{
                            'caret-right': isGestionesMenuVisible,
                            'caret-down': !isGestionesMenuVisible
                          }"
                        ></span>
                      </a>
                      <ul
                        class="dropdown-menu"
                        [ngStyle]="{
                          display: isGestionesMenuVisible ? 'flex' : 'none'
                        }"
                        (mouseleave)="hideAllMenus()"
                      >
                        <li *ngFor="let gestion of gestiones">
                          <a [routerLink]="gestion.path">{{
                            gestion.name | translate
                          }}</a>
                        </li>
                      </ul>
                    </li>

                    <!-- Acerca de nosotros -->
                    <li class="nav-item" #aboutUsMenuItem>
                      <a
                        class="nav-link"
                        [ngClass]="{ active: isAboutUsMenuVisible }"
                        (mouseenter)="showMenu('aboutus')"
                      >
                        {{ "menu.aboutus.title" | translate }}
                        <span
                          class="caret"
                          [ngClass]="{
                            'caret-right': isAboutUsMenuVisible,
                            'caret-down': !isAboutUsMenuVisible
                          }"
                        ></span>
                      </a>
                      <ul
                        class="dropdown-menu"
                        [ngStyle]="{
                          display: isAboutUsMenuVisible ? 'flex' : 'none'
                        }"
                        (mouseleave)="hideAllMenus()"
                      >
                        <li *ngFor="let about of aboutus">
                          <a [routerLink]="about.path">{{
                            about.name | translate
                          }}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <form class="d-flex ms-auto">
                    <input
                      class="form-control me-2"
                      type="search"
                      placeholder="Buscar"
                      aria-label="Search"
                    />
                    <button
                      class="btn btn-outline-light rounded-circle"
                      type="submit"
                    >
                      <i class="bi bi-search"></i>
                    </button>
                  </form>
                  <div class="language-links ms-3">
                    <select
                      class="custom-select-with-caret"
                      [value]="currentLanguage"
                      (change)="switchLanguage($event.target)"
                    >
                      <option value="en">English</option>
                      <option value="es">Español</option>
                      <option value="ca">Català</option>
                    </select>
                  </div>

                  <button
                    class="btn btn-outline-light rounded-circle ms-3"
                    (click)="logout()"
                  >
                    <i class="bi bi-box-arrow-right"></i>
                  </button>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
